* {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: rgb(19, 18, 18);
  /* box-sizing: border-box; */
}

header {
  display: flex;
  justify-content: center;
  padding-top: 10vh;
  /* box-sizing: border-box; */
}

h1 {
  color: aliceblue;
  font-size: 50px;
}
.playernames {
  display: flex;
  justify-content: center;
  /* width: 300px; */
  margin-top: 50px;
}
.players {
  display: flex;
  justify-content: space-between;
  width: 300px;
}

#p-x,
#p-o {
  color: blue;
  width: 100px;
  height: 30px;
}

.play-area {
  display: flex;
  justify-content: center;
  margin-top: 70px;
  /* box-sizing: border-box; */
}
#game_board {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 300px;
  
}

.ttt_box {
  background-color: blue;
  display: block;
}

.box_size {
  height: 100px;
  width: 100px;
}

.divbtn {
  display: flex;
  justify-content: center;
  margin-top: 5vh;
}

#btn {
  display: flex;
  justify-content: center;
  border: none;
  width: 70px;
  height: 30px;
  /* text-align: center; */
  align-items: center;
  border-radius: 5px;
  font-weight: 600;
  color: blue;
}
